.logo{
    height: 110px;
    width: 110px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 10px;
    
}
.p1{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #141452;
}
.slides{
    height: 600px;
    width: 900px;
    border-radius: 5%;
}
.over{
    position: absolute;
    top: 142px;
    left: 310px;
    z-index: 1;
}
.ann{
    
    width: 240px;
    position: absolute;
    top: 350px;
    opacity: 1;
}

.addi{
    
    width: 240px;
    position: absolute;
    top: 350px;
    opacity: 1;
    text-decoration-color: black;
}

.ann2{
    width: 240px;
    position: absolute;
    top: 350px;
    left: 250px;
}
.ann3{
    width: 240px;
    position: absolute;
    top: 350px;
    left: 500px;
}
.mbtn{
    position: absolute;
    top: 469px;
    left: 750px;
}
.overlap{
    position: absolute;
    top: 0px;
    left:20.5%;
    z-index: 1;
}
.overlap1{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    z-index: 1;
}
.facult{
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
}
.faculty_img{
    height: 150px;
    width: 150px;
}